<h4>
    Internal Server Error
</h4>
@if (error) {
    <h5 class="text-danger">Error : {{error.message}}</h5>
    <p class="font-weight-bold">If you are seeing this error then Angular is not at fault, check the server instead.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome Dev tools and check the failed network requests.</li>
        <li>Examine the URL of the failing request.</li>
        <li>Reproduce the error in postman.</li>
        <li>If its reproducable in PostMan then angular is not to blame</li>
    </ol>
    <p class="font-weight-bold">
        Following is the stack trace for it : Check the first two lines
    </p>
    <code class="mt-5" style="background-color:whitesmoke">
        {{error.details}}
    </code>
}